* {
  	box-sizing: border-box;
  	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

body{
	background-color: #f7e01826;
	color:#4d4a4a;

}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /*background-color: #f7e018;*/
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 390px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 30px;
}

.task-container {
  display: flex;
  flex-direction: column;
}

.task-info{
	background-color: white;
	border-radius: 5px;
	margin: 3% 2%;
	padding: 20px 10px 20px 10px;
}

.create-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  /*background-color: #f7e018;*/
}

.create-task-container>div {
  display: flex;
  background-color: #4f4f4f;
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  border-radius: 5px;
  color: white;
}

.create-task-container button {
	width: 100px;
	height: 41px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 18px;
	color:#4f4f4f;
	margin-top: 5%;

}

.title{
	color:#4f4f4f; 
	text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.main>*{
  margin-bottom: 4%;
}

form .form-item{
	padding: 1%;
    margin-bottom: 2%;
}